@media (min-width: 320px) {
    .navbarWrapper{
        height: 100%;
        width: 100%;
        background-color:#FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
    }
    .boton{
        background: linear-gradient(92.6deg, #7F548F 0%, #7B3795 100%);
        border-radius: 4px;
        border: none;
        margin: 20px 16px;
        font-size: 20px;
        float: right;
        font-weight: 400;

    }
    .botones{
        display: flex;
        flex-direction: column;
        margin-bottom: 140px;
        padding: 40px 0;

    }
    .login{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        float: right;
        padding: 16px 0;

    }
    .botonSecundario{
        background: #EFEFEF;
        border-radius: 4px;
        border: none;
        margin: 5px 26px;
        font-size: 18px;
        color: #9A8A8A;
        font-weight: 600;
        font-style: italic;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));

    }
    .materialIcons{
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 40px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: flex;
        width: 10%;
        justify-content: flex-end;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        margin: 16px 16px;
        color: #282c34;
    }

    .prueba{
        display: flex;
        font-size: 18px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #282c34;
        border: none;
    }

    .todo{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border: none;
    }

}
