<%- include ('partials/head.html')%>
<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>

    <div class="mb-3">
        <div class="col-12">
            <a class="btn btn-primary" href="/" role="button">Regresar</a>
            <button class="btn btn-primary" type="submit">Log in</button>  
        </div>
    </div>

</div>