<%- include ('partials/head.html')%>
<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input class="form-control" type="text" id= "username" placeholder="Nombre de usuario" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Foto de perfil</label>
        <input class="form-control" type="file" id="formFile">
      </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Biografía</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <div class="col-12">
            <a class="btn btn-primary" href="/" role="button">Regresar</a>
            <button class="btn btn-primary" type="submit">Sign up</button>  
        </div>
    </div>

</div>